{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" href="{% static 'style.css'%}">
        <link rel="stylesheet" href="{% static 'transition.css'%}">
        <link rel="icon" href="{% static ''%}"> 
        <title> HAHAHAH </title>
    </head>

    <body id="none"style="background-image:url('{% static 'tiger.jpg' %}');">

    
    <body>

    <div class="header">
        <a href="{% url 'Name'%}" class="logo">Abouts</a>

        <div class="navbar">
            <a href="{% url 'Home' %}">Home</a>
            <a href="{% url 'About' %}">About</a>
            <a href="{% url 'Portfolio' %}">Portfolio</a>
            <a href="{% url 'Contacts' %}">Contacts</a>   
            
        </div>
    </div>
    <body>
        <h1 class="title">
            I'm <span>AJ Klein <br>a</span> Frontend and Backend Developer
            </h1>
            <div class="content">
                <h1>Welcome to My Website</h1>
                <h1 class="title">
                    I'm <span>AJ Klein<br>and</span> Welcome to my Web Portfolio! 
                </h1>
                <p>a 26-year-old IT student whose fascination with programming runs deep. From a young age, Alex has been captivated by the logic and creativity involved in crafting software solutions. His journey began with foundational languages like Java, JavaScript, Python, HTML, and CSS, where he honed his skills in both front-end and back-end development. As he delved further into web development, Alex discovered the power of frameworks like Django, which allowed him to build robust and scalable applications.

                    Beyond coding, Alex has immersed himself in database management, understanding the importance of efficient data handling in modern IT systems. His experiences have taught him the value of structured query languages and database design principles, shaping his ability to create systems that not only perform well but also maintain data integrity.</p>
        
                
                <p class="description">
                     a skilled web developer with a passion for creating Wonderful, Responsive, and user-friendly websites.
                </p>
            </div>

            <style>





body, html {
    height: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.content {
    text-align: center;
    max-width: 600px; /* optional, to limit the width of the content */
    background: rgba(0, 0, 0, 0.5); /* Optional: Add background for readability */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}







            </style>
    </body>
</body> 
</html>
