{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" href="{% static 'style.css'%}">
        <link rel="stylesheet" href="{% static 'transition.css'%}">
        <link rel="icon" href="{% static ''%}"> 
        <title> Title </title>
    </head>

    <body id="none"style="background-image:url('{% static 'tiger.jpg' %}');">

    

    <div class="header">
        <a href="{% url 'Name'%}" class="logo">Home</a>

        <div class="navbar">
            <a href="{% url 'Home' %}">Home</a>
            <a href="{% url 'About' %}">About</a>
            <a href="{% url 'Portfolio' %}">Portfolio</a>
            <a href="{% url 'Contacts' %}">Contacts</a>  
             
        </div>
    </div>

    <body>
        <h1 class="title">
            I'm <span>AJ Klein <br>a</span> Frontend and Backend Developer
            </h1>

            
            <div class="content">
                <h1></h1>
                <p>This is a sample website created to demonstrate basic HTML and CSS integration using Django's static files.</p>
                <p>Feel free to explore the different sections using the navigation bar above.</p>
        
                
                <p class="description">
                     a skilled web developer with a passion for creating Wonderful, Responsive, and user-friendly websites.
                </p>
            </div>

            <style>


body, html {
    height: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.content {
    text-align: center;
    height: fit-content;
    max-width: 600px; /* optional, to limit the width of the content */
    background: rgba(0, 0, 0, 0.5); /* Optional: Add background for readability */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners *
}







            </style>
    </body>
</body> 
</html>
